body {
    background-image: url("../images/background.jpg");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
}
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 130%;
    color: #000;
}
p {
    color: #000;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 15px;
    -webkit-font-smoothing: antialiased; 
}
a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
a:hover {
    color: #336699;
    border-bottom: 1px solid rgba(255,255,255,1);
}
#container {
    width: 30%;
    min-width: 360px;
    max-width: 360px;
    overflow: visible;
    margin: 65px auto 0 50px !important;
}
#container p a {
    font-weight: bold;
}
@media only screen and (max-width: 600px), (max-height: 600px) {
  p {
    font-size: 12px;
    line-height: 20px;
  }

  #container {
    margin-top: 20px;
    min-width: 280px;
    max-width: 280px;
  }
}